/* Basic styles for css editing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: sans-serif;
}
body {
    padding: 32px;
}
ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 4rem;
}
.tasks-container {
    width: 900px;
}
.task {
    width: 100%;
    height: 30px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}
.task__icon {
    width: 30px;
    height: 30px;
}
.add-task__link {
    display: block;
    margin: 16px 0;
    font-size: 1.6rem;
}
