<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Nueva Tarea</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Agregar Nueva Tarea</h1>
    <form action="/" method="post">
        <label for="description">Descripción de la tarea:</label>
        <input type="text" placeholder="Lavar los platos" name="description">
        <button type="submit">Agregar</button>
    </form>
</body>

</html>